.list-item {
  border: 1px solid #7683cb;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  min-width: 300px;
}
.initial {
  /* background-color: #14b8a6; */
  padding: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: #f8fafc;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.red {
  background-color: #b91c1c;
}
.green {
  background-color: #10b981;
}
.blue {
  background-color: #0b69ff;
}
.yellow {
  background-color: #f59e0b;
}
.orange {
  background-color: #f97316;
}
.lightblue {
  background-color: #9ba9eb;
}
.violet {
  background-color: #7683cb;
}

.details-list-item {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.website {
  color: #f8fafc;
  font-size: 15px;
  font-family: 'Roboto';
}
.stars {
  width: 150px;
}
.delete-btn {
  background-color: transparent;
  border: none;
}
.delete-icon {
  width: 25px;
  height: 25px;
  color: green;
  background-color: transparent;
  align-self: center;
  margin-left: 10px;
}
